{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> {% block titulo %}{% endblock titulo %}</title>
	<link rel="stylesheet" href="{% static 'app/estilos.css' %}">
	<!--<script src="{% static "app.js" %} "></script>-->
</head>
<body>

{% block contenido %}	
{% endblock contenido %}
	
</body>
</html>