{% extends "base.html" %}

{% block titulo %}
	hola wilder
{% endblock titulo %}


{% block contenido %}
	<h1>paginas de medias-ruta</h1>
	{{ person.photo.url }}"
	<div>
		<img src="{{ person.photo.url }}" alt="" height="350">			
	</div>
	
{% endblock contenido %}

